src/main/resources/schemas/iics-process-base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           elementFormDefault="qualified">

    <!-- Root Element -->
    <xs:element name="process" type="ProcessType" />

    <!-- Process Type -->
    <xs:complexType name="ProcessType">
        <xs:sequence>
            <xs:element name="metadata" type="MetadataType" />
            <xs:element name="connections" type="ConnectionsType" minOccurs="0" />
            <xs:element name="transformations" type="TransformationsType" minOccurs="0" />
            <xs:element name="openapi" type="OpenAPIType" minOccurs="0" />
            <xs:element name="dataFlow" type="DataFlowType" minOccurs="0" />
        </xs:sequence>

        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="type" type="ProcessTypeEnum" use="required" />
        <xs:attribute name="version" type="xs:string" />
    </xs:complexType>

    <!-- Process Type Enum -->
    <xs:simpleType name="ProcessTypeEnum">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAI" />
            <xs:enumeration value="CDI" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Metadata Type -->
    <xs:complexType name="MetadataType">
        <xs:sequence>
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="author" type="xs:string" minOccurs="0" />
            <xs:element name="created" type="xs:date" minOccurs="0" />
            <xs:element name="modified" type="xs:date" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <!-- Connections Type -->
    <xs:complexType name="ConnectionsType">
        <xs:sequence>
            <xs:element name="connection" type="ConnectionType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Connection Type -->
    <xs:complexType name="ConnectionType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="url" type="xs:string" minOccurs="0" />
            <xs:element name="host" type="xs:string" minOccurs="0" />
            <xs:element name="database" type="xs:string" minOccurs="0" />
            <xs:element name="authentication" type="AuthenticationType" minOccurs="0"/>
        </xs:sequence>

        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Authentication Type -->
    <xs:complexType name="AuthenticationType">
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- Transformations Type -->
    <xs:complexType name="TransformationsType">
        <xs:sequence>
            <xs:element name="transformation" type="TransformationType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Transformation Type -->
    <xs:complexType name="TransformationType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" />
            <xs:element name="expression" type="xs:string" minOccurs="0" />
            <xs:element name="condition" type="xs:string" minOccurs="0" />
            <xs:element name="inputFields" type="FieldsType" minOccurs="0" />
            <xs:element name="outputFields" type="FieldsType" minOccurs="0" />
        </xs:sequence>

        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Fields Type -->
    <xs:complexType name="FieldsType">
        <xs:sequence>
            <xs:element name="field" type="FieldType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Field Type -->
    <xs:complexType name="FieldType">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
        <xs:attribute name="required" type="xs:boolean" default="false" />
    </xs:complexType>

    <!-- OpenAPI Type -->
    <xs:complexType name="OpenAPIType">
        <xs:sequence>
            <xs:element name="endpoint" type="EndpointType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Endpoint Type -->
    <xs:complexType name="EndpointType">
        <xs:sequence>
            <xs:element name="operationId" type="xs:string" />
            <xs:element name="summary" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="parameters" type="ParametersType" minOccurs="0" />
            <xs:element name="responses" type="ResponsesType" minOccurs="0" />
            <xs:element name="tags" type="TagsType" minOccurs="0" />
        </xs:sequence>

        <xs:attribute name="path" type="xs:string" use="required" />
        <xs:attribute name="method" type="HttpMethodType" use="required" />
    </xs:complexType>

    <!-- HTTP Method Type -->
    <xs:simpleType name="HttpMethodType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GET" />
            <xs:enumeration value="POST" />
            <xs:enumeration value="PUT" />
            <xs:enumeration value="DELETE" />
            <xs:enumeration value="PATCH" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Parameters Type -->
    <xs:complexType name="ParametersType">
        <xs:sequence>
            <xs:element name="parameter" type="ParameterType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Parameter Type -->
    <xs:complexType name="ParameterType">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="in" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
        <xs:attribute name="required" type="xs:boolean" default="false" />
    </xs:complexType>

    <!-- Responses Type -->
    <xs:complexType name="ResponsesType">
        <xs:sequence>
            <xs:element name="response" type="ResponseType" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Response Type -->
    <xs:complexType name="ResponseType">
        <xs:sequence>
            <xs:element name="description" type="xs:string" />
            <xs:element name="schema" type="SchemaType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="code" type="xs:string" use="required" />
    </xs:complexType>

    <!-- Schema Type -->
    <xs:complexType name="SchemaType">
        <xs:attribute name="type" type="xs:string" />
        <xs:attribute name="items" type="xs:string" />
    </xs:complexType>

    <!-- Tags Type -->
    <xs:complexType name="TagsType">
        <xs:sequence>
            <xs:element name="tag" type="xs:string" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Data Flow Type -->
    <xs:complexType name="DataFlowType">
        <xs:sequence>
            <xs:element name="source" type="DataSourceType" />
            <xs:element name="transformationRef" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="target" type="DataTargetType" />
        </xs:sequence>
    </xs:complexType>

    <!-- Data Source Type -->
    <xs:complexType name="DataSourceType">
        <xs:sequence>
            <xs:element name="connectionRef" type="xs:string" />
            <xs:element name="entity" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <!-- Data Target Type -->
    <xs:complexType name="DataTargetType">
        <xs:sequence>
            <xs:element name="connectionRef" type="xs:string" />
            <xs:element name="entity" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>
